[submodule "ublox"]
	path = ublox
	url = https://github.com/KumarRobotics/ublox.git
	branch = ros2
[submodule "ntrip_client"]
	path = ntrip_client
	url = https://github.com/LORD-MicroStrain/ntrip_client.git
	branch = ros2
